* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

  @font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
  }
  @font-face {
   font-family: OpenSans;
   src: url(../fonts/OpenSans-Bold.woff);
   font-weight: 700;
   font-style: normal;
}
.main-header {
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 0;
  margin-bottom: 55px;
}
.main-header:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  z-index: -1;
}
.container {
  max-width: 1200px;
  padding: 30px 15px;
  margin-left: auto;
  margin-right: auto; 
  box-sizing: border-box;
}
.container-content {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  width: 180px; 
}
.header-nav {
  display: flex;
}

.menu-button {
  width: 23px;
  height: 20px;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.menu-button:before, .menu-button:after {
  content: "";
  width: 100%;
  height: 20%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.menu-button:before {
  top: 0;
}

.menu-button:after {
 bottom: 0;
}

.menu-button-label {
  width: 100%;
  height: 20%;
  margin-top: -2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
}

.js-menu-button {
  display: none;
}
.header-nav-menu {
  list-style-type: none; 
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-family: OpenSans, Arial; 
  font-weight: 400;
  text-transform: uppercase;
  align-items: center;
}

.header-nav-menu-item:nth-child(n+2) {
  margin-left: 35px;
 }
.menu {
  text-decoration: none;
  color: #ffffff;
}
.main-title-container {
 max-width: 690px;
 margin-right: auto;
 margin-left: auto;
 margin-top: 100px;
 margin-bottom: 100px;
 box-sizing: border-box;
}
.main-title {
  text-align: center;
  color: #ffffff;
  font-family: OpenSans, Arial;
  font-size: 45px;
  line-height: 75px;
  font-weight: 700;
  text-transform: uppercase;
}
.trends-block {
  
}

.section-title {
  font-family: OpenSans, Arial;
  font-size: 20px;
  line-height: 1.2;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.section-title::after {
  content: " ";
  background-color: #e1d9bd;
  width: 65px;
  height: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.trends {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
}

.trend {
  width: calc(25% - 3px);
  min-height: 320px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  }

.trend.garden {
 background-image: url("../images/trend1.jpg");
 }

.trend.cheese {
 background-image: url("../images/trend2.jpg");
 }

.trend.mountains {
 background-image: url("../images/trend3.jpg");
 }

.trend.vitamin {
 background-image: url("../images/trend4.jpg");
 }

.trend:after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  z-index: -1;
}

.trend-info {
  border: 2px solid #877242;
  padding: 35px;
  margin: 20px;
}


.trend-tags {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

  .trend-title {
   font-family: OpenSans, Arial;
   font-size: 20px;
   line-height: 24px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;
   margin-top: 15px;
}
.content {
 display: flex;
 justify-content: space-between;
 max-width: 1200px;
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 50px;
 padding: 15px;
 padding-bottom: 0;
 box-sizing: border-box;
}

.posts {
  display: flex;
  max-width: 780px;
  flex-direction: column;
}

.post {
 display: flex;
 align-items: flex-start;
 margin-bottom: 60px;
}

.post-img {
  width: 380px;
  height: 293px;
  object-fit: cover;
  flex-shrink: 0;
}
.post-tags {
 display: flex; 
 flex-wrap: wrap;
 list-style-type: none;
  
}
.tag {
  font-family: OpenSans, Arial;
  color: #b59f5b;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 18px;
}
.post-title {
  font-family: OpenSans, Arial;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 5px;
  text-transform: uppercase;
}
.post-title-link {
  text-decoration: none;
  color: #0f0d0e
}

.post-info {
  margin-left: 30px;
}

.post-info-data-autor {
  margin-top: 25px;
  font-size: 0;
}
.post-info-data {
  margin-right: 15px;
  font-family: OpenSans, Arial;
  font-weight: 400;
  font-size: 12px;
  color: #888888;
}
.post-info-autor {
  font-family: OpenSans, Arial;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  font-style: normal;
  display: inline;
}
.post-info-content {
  box-sizing: border-box;
  padding-right: 5px;
  margin-top: 50px;
  font-family: OpenSans, Arial;
  font-weight: 400;
  font-size: 15px;
  color: #0f0d0e;
}
.paragraph {
  margin-top: 20px;
}
.aside {
  box-sizing: border-box;
  width: 270px;
}
.section-aside { 
  margin-bottom: 55px;
}
.aside-title {
  text-align: center;
  font-family: OpenSans, Arial;
  font-size: 14px;
  font-weight: 700;
  color: #0f0d0e;
  text-transform: uppercase;
  margin-bottom: 22px;
  
}

.new-post {
  display: flex;
  align-items: flex-start;
  margin-bottom: 22px;
}
 
.new-post-img {
  width: 70px;
  margin-right: 18px;
}
.new-post-data {
  font-family: OpenSans, Arial; 
  font-size: 12px;
  font-weight: 400;
  color: #888888;
}
.new-post-title {
  font-family: OpenSans, Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  color: #000000;
  text-transform: uppercase;
}
.new-post-title-link {
  text-decoration: none;
  color: #000000;
}
.form-search {
 display: flex;
 align-items: center;
 margin-bottom: 60px;
}

.search-feald {
  width: 220px;
  height: 50px;
  background-color: #f4f7f6;
  border: none;
  padding-left: 20px; 
  font-family: OpenSans, Arial;
  font-size: 13px;
  font-weight: 400;
}
.search-button {
  width: 50px;
  height: 50px;
  background-image: url("../svg/search.svg");
  border: none;
  background-size: 20px;
  background-color: #b59f5b;
  background-position: center;
  background-repeat: no-repeat;
}
.hint {
  position: absolute;
  clip:rect(1px,1px,1px,1px);
  height: 1px;
  width: 1px;
}
.mailing {
  margin-bottom: 60px;
  
}
.email-field {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #f4f7f6;
  padding-left: 20px;
  margin-bottom: 15px;
  font-family: OpenSans, Arial;
  font-size: 13px;
  font-weight: 400;
}
.subscribe {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #b59f5b;
  color: #ffffff;
  font-family: OpenSans, Arial;
  font-size: 14px;
  font-weight: 700; 
  text-transform: uppercase;
}
.aside-title:after {
  content: "";
  background-color: #e1d9bd;
  width: 65px;
  height: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.aside-tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
  list-style-type: none;
  font-family: OpenSans, Arial;
  font-size: 12px;
  font-weight: 700;
  color: #0f0d0e;
  text-transform: uppercase;
}

.aside-tags li {
  cursor: pointer;
}

.aside-tag {
  border: 3px solid #ededed;
  display: inline-block;
  padding: 5px 15px;
  
  box-sizing: border-box;
}
.aside-tag-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.aside-topics {
  list-style-type: none;
  display: block;
  
}
.aside-topic {
  height: 45px;
  font-family: OpenSans, Arial;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #eeeeee;
  padding-top: 10px;
}
.aside-topic:first-letter {
  text-transform: uppercase;
}
.aside-topic-link {
  text-decoration: none;
  color: inherit;
  
}
.aside-topic-superscript {
  margin-left: 5px;
  font-family: OpenSans, Arial;
  font-size: 12px;
  font-weight: 700;
  color: #b59f5b; 
  vertical-align: super;
}

.products {
  display: flex;
  flex-wrap: wrap; 
  max-width: 1200px;
  margin: auto;
  margin-bottom: 65px;
  justify-content: space-between;
  align-items: stretch;
  padding-right: 15px;
  padding-left: 15px;
}
.product {
 display: flex;
 flex-direction: column;
 width: 29.5%;
  
}

.product-img {
 padding: 26px 20px 20px 20px; 
}
 
.product-img-1 {
 width: 100%;
 object-fit: cover;
}

.product-info {
  box-sizing: border-box;
  border: 3px solid #d3c59d;
  width: 100%;
  padding: 45px 20px 20px 20px;
  margin-top: -55px;
  position: relative;
  z-index: 2;
  flex-grow: 1;
}

.product-info-content {
  
}

.product-info-title {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: OpenSans, Arial;
  text-transform: uppercase;
}
.about-the-product {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: OpenSans, Arial; 
  margin-top: 5px;
}
.product-info-link {
  text-decoration: none;
  color: #b59f5b;
}

.buy {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.prices {
  align-self: flex-end;
  margin-bottom: 5px;  

}
.price {
  display: block;
}

.price-1 {
  font-size: 14px;
  line-height: 1.2;
  text-decoration: line-through;
  color: #0f0d0e;
  font-weight: 700;
  font-family: OpenSans, Arial;
}

.price-2 {
  font-size: 20px;
  line-height: 1.2; 
  color: #0f0d0e;
  font-weight: 700;
  font-family: OpenSans, Arial;
}

.go-shop {
  background-color: #b59f5b;
  width: 140px;
  height: 50px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  font-family: OpenSans, Arial;
  text-transform: uppercase;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

.footer {
  padding: 15px;
  padding-top: 0;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.social-field {
  background-color: #f4f7f6;
  height: 80px;
}

.social {
  display: flex;
  list-style-type: none; 
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.social-item {
  text-decoration: none;
  width: 24px;
  height: 24px;
}

.social-item:nth-child(n+2) {
  margin-left: 25px;
}

.socials-link {
  text-decoration: none;
  color: #000000;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center; 
  display: block;
}
.socials-link-text {
  position: absolute;
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  width: 1px;
}
.socials-link-pinterest {
background-image: url("../svg/001-pinterest.svg");
}
.socials-link-facebook {
 background-image: url("../svg/002-facebook-logo.svg");
}
.socials-link-tumblr {
 background-image: url("../svg/003-tumblr.svg"); 
}
.socials-link-twitter {
  background-image: url("../svg/004-twitter.svg");
}
.socials-link-instagram {
  background-image: url("../svg/005-instagram.svg");
}
.footer-text-conteiner {
  margin-top: 75px;
  margin-bottom: 40px;
  text-align: center;
}
.footer-text {
  font-family: OpenSans, Arial;
  font-size: 12px;
  font-weight: 700;
  color: #999999;
}
.copyright {
  text-decoration: none;
}


.popup {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.6);
  z-index: 10;
  overflow: hidden;
  display: none;
}

.close-popup {
  width: 17px;
  height: 17px;
  position: absolute;
  top: -25px;
  right: 0;
  cursor: pointer;
}

.popup-container {
  background-color: #ffffff;
  position: absolute;
  width: 390px;
  height: 590px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 55px 30px 55px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.popup-title {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-family: OpenSans, Arial;
  font-weight: 700;
  font-size: 20px;
  line-height: 1; 
}

.popup-title:after {
  content: "";
  background-color: #e1d9bd;
  width: 65px;
  height: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 27px;
}

.form-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  height: 100%; 
}

.form-popup-row {
  font-size: 13px;
  font-family: OpenSans, Arial;
  width: 100%;
}

.form-popup-hint {
  display: block; 
}

.popup-field {
  background-color: #f3f7f6;
  border: none;
  width: 100%;
  padding-left: 18px;
  box-sizing: border-box;
  margin-top: 5px;
  font-size: 13px;
  font-family: inherit;
  color: #686a69;
}

.text-text {
  height: 130px;
  padding-top: 15px;
  -webkit-appearance:none;
  -moz-appearance:none;
}

.select {
  -webkit-appearance:none;
  -moz-appearance:none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 15px;
  height: 45px;
}

.popup-radio {
  margin-top: 8px;
  display: inline-block;
}

.radio {
  position: absolute;
  clip:rect(1px,1px,1px,1px);
  height: 1px;
  width: 1px;
}

.radio:checked ~ .radio-text:before{
 background-image: url("../svg/form-circle.svg"); 
}

.radio-text:before {
  content: "";
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  width: 18px;
  height: 18px;
  background-position: center center;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
  margin-right: 3px;
}

.radio-text {
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  }

  .popup-button {
    background-color: #b59f5b;
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
  }

@media (min-width: 641px) and (max-width: 1199px) {
  
  .main-header {
  background-image: url("../images/banner-bg-tablet.jpg");
  margin-bottom: 50px;
}
  
  .container {
    padding: 45px 30px 45px 30px;
  }

  .header-logo {
    width: 158px; 
  } 

  .js-menu-button {
    display: block;
}

  .header-nav-menu {
    display: none;
  }

  .main-title {
    font-size: 40px;
    line-height: 1.38;
  }

  .main-title-container {
    width: 89%;
    margin-top: 85px;
    margin-bottom: 65px;
  }
  
  .trends {
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .trend {
    max-width: calc(50% - 3px);
    min-height: 250px;
  }

  .trend:nth-child(odd) {
  margin-right: 5px;
  }

  .trend:nth-child(n+3) {
  margin-top: 5px; 
  }
   
  .trend-info {
    margin: 20px;
    padding: 30px;
  }

  .trend-title {
    font-size: 17px;
    line-height: 1.3;
    margin-top: 10px;
  }

  .content {
    padding: 50px 35px 50px 35px;
    margin: 0;
  }

  .posts {
    margin-right: 4.5%;
    width: 56%;
    max-width: 388px;
  }

  .post {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .post:nth-child(n+2) {
    border-top: 3px solid #eeeeee;
    padding-top: 40px;
  }

  .post-img {
  width: 100%;
  }

  .post-info {
    margin-top: 15px;
    margin-left: 0;
  }

  .post-info-content {
    margin-top: 30px;
  }
  
  .post-info-data-autor {
    margin-top: 35px;
  }

  .post-title {
    font-size: 17px;
  }

  .section-title {
    font-size: 18px;
    margin: 0;
  }
  
  .products {
    padding: 15px 35px 15px 35px; 
    margin-bottom: 45px;
  }

  .product {
    width: calc(50% - 20px);
  }

  .product:nth-child(odd) {
    margin-right: 20px;
  }
  
  .product-info-title {
    font-size: 17px;
  }
 
  .footer {
    padding: 0 35px 0 35px;
  }
 
  .footer-text-conteiner {
    margin-top: 45px;
    margin-bottom: 40px;
  }

  .popup-container {
    height: 595px;
  }

  .popup-title {
    font-size: 18px;
  }
  .radio-text:before {
    background-size: 25px;
    width: 25px;
    height: 25px;
  }
}


@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
  
  .trend {
    width: calc(50% - 3px);
  }

  .trend:nth-child(odd) {
  margin-right: 5px;
  }

  .trend:nth-child(n+3) {
  margin-top: 5px; 
  }

}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  
  .trend {
    width: calc(25% - 3px);
  }

  .trend:nth-child(odd) {
  margin-right: 0px;
  }

  .trend:nth-child(n+3) {
  margin-top: 0px; 
  }

  .trend-title {
   font-size: 14px;
 }

.trend-info {
  padding: 10px;
  margin: 10px;
}

}

@media (max-width: 640px) {
.main-header {
  background-image: url("../images/banner-mobile.jpg");
  height: 100%;
  margin-bottom: 40px;
}
 
.container-content {
  flex-direction: column-reverse;
}
.header-nav {
  display: flex;
  justify-content: flex-end;
}

.header-logo {
  width: 84%;
  margin-top: 175px;
  margin-left: auto;
  margin-right: auto;
}

.js-menu-button {
  display: block;
}

.header-nav-menu {
  display: none;
}

.main-title-container {
  margin-top: 25px;
}

.main-title {
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 180px;
  }

.trends {
  flex-wrap: wrap;
  align-items: stretch;
}

.trend {
  width: 100%;
  height: auto;
  min-height: 230px;
}

.trend:nth-child(n+2) {
 margin-top: 3px;
}

.trend-info {
    margin: 15px;
    margin-top: 0; 
    padding: 30px 20px 30px 20px;
    width: 100%;
  }

.trend-title {
   font-size: 16px;
   line-height: 1.25;
   margin-top: 5px;
  }
 
.content {
    padding: 45px 15px 45px 15px;
    flex-direction: column;
    margin: 0;
    padding-bottom: 0;
  }

.post {
    flex-direction: column;
    margin-bottom: 30px;
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 23px;
  }


.post-img {
  width: 100%;
  height: 84%;
}

.post-info {
  margin-left: 0;
  margin-top: 15px;
  width: 100%;
}

.post-info-content {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .post-info-data-autor {
    margin-top: 20px;
  }

  .post-title {
    font-size: 16px;
  }
  
.aside {
  width: 100%;
  margin-top: 10px;
}
 
.section-aside {
  margin-bottom: 40px;
}

.aside-title {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.form-search {
  margin-bottom: 40px;
  margin-top: 60px;
}

.search-feald {
  width: 100%;
}

.form-search-feald {
  width: 100%;
}

.aside-tag {
  padding: 5px 12px 5px 12px;
}

.section-title {
  font-size: 16px;
  margin-bottom: 25px;
  margin-top: 0;
}

.aside-topic {
  padding-top: 5px;
}

.products {
  margin-bottom: 40px;
}

.product {
  width: 100%;
}

.product:nth-child(n+2) {
  margin-top: 25px;
}

.product-img {
  padding-top: 0;
  height: 100%;
}

.product-info-title {
  font-size: 17px;
}

.footer-text-conteiner {
  margin-top: 48px;
  margin-bottom: 30px;
}

.popup-container {
    height: 545px;
    width: 330px;
    padding: 30px 25px 30px 25px;
  }

.popup-title {
    font-size: 16px;
  }

.radio-text:before {
    background-size: 25px;
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 640px) and (orientation: landscape) {

 .trend {
    max-width: calc(50% - 3px);
  }

  .trend:nth-child(odd) {
  margin-right: 5px;
  }

  .trend:nth-child(n+3) {
  margin-top: 5px; 
  } 

  .trend:nth-child(2) {
  margin-top: 0; 
  } 

}